@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
*{
    --body-font: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #c2a1c9;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
        
}
h1{
    text-align: center;
    color: #532e7d;
    font-size: 40px;
    font:'Poppins', sans-serif;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
     font: var(--body-font);
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #532e7d;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: rgb(0, 0, 0);
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #532e7d;
    font-weight: 600;
}
.link:hover{
     color: rgb(151, 81, 216);
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}